div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 10000;
    }
}

.manage-patient-container {
    .m-p-title {
        font-size  : 15px;
        margin     : 10px 0;
        font-weight: bold;
        text-align : center;
    }
}

.manage-patient-body {
    .table-manage-patient {
        .btn {
            border-radius: 5px;
        }

        .btn-primary {
            margin-right: 5px;
        }

        .btn-success {
            padding: 5px 20px;
        }
    }
}

.manage-patient-body {
    margin: 0 20px;

    .table-manage-patient {
        table {
            font-family    : arial, sans-serif;
            border-collapse: collapse;
            width          : 100%;
        }

        td,
        th {
            border    : 1px solid #dddddd;
            text-align: left;
            padding   : 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    }
}