.manage-specialty-container {
    padding: 0 15px;

    .ms-title {
        text-align    : center;
        text-transform: uppercase;
        font-weight   : bold;
        font-size     : 20px;
        margin-top    : 15px;
        color         : #0071ba;
    }

    .add-new-specialty {}

    .btn-save-specialty {
        border-radius: 5px;
        padding      : 5px 15px;
        font-size    : 15px;
        font-weight  : bold;
    }
}