.login-background {
    height    : 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .login-container {

        width           : 400px;
        background-color: white;
        border-radius   : 20px;
        position        : absolute;
        margin          : auto;
        top             : 0;
        bottom          : 0;
        right           : 0;
        left            : 0;
        height          : 600px;

        .login-content {
            padding: 20px;

            .text-login {
                text-align : center;
                padding-top: 20px;
                font-size  : 40px;
                font-weight: bold;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .login-input {
                margin: 5px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right   : 10px;
                        top     : 15px;
                        cursor  : pointer;
                    }
                }

                .user-pass {
                    font-size  : 15px;
                    font-weight: bold;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    padding    : 10px 0;
                }

                .form-control {
                    padding: 10px 10px;
                }
            }

            .btn-loginBig {
                padding: 10px 0;

                .btn-login {
                    width        : 100%;
                    margin       : 10px 0;
                    border-radius: 39px;
                    height       : 45px;
                    background   : linear-gradient(135deg, #22c1c3 0%, #fdbb2d 100%);
                    color        : white;
                    font-weight  : bold;
                    font-size    : 18px;
                }

                .btn-login:hover {
                    transition: 1s;
                    color     : rgb(83, 33, 33);
                    background: white;
                }
            }

            .Or-loginBig {
                margin-top: 30px;

                .Or-Login {
                    font-size  : 20px;
                    font-weight: bold;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
            }


            .forgot-register {
                display      : flex;
                padding-right: 96px;

                .forgot-passwordBig {



                    .forgot-password {
                        cursor     : pointer;
                        font-weight: bold;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }

                .register {


                    .re-register {
                        cursor     : pointer;
                        font-weight: bold;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }
            }



            .social-login {
                display        : flex;
                justify-content: center;
                margin-top     : 20px;

                .google {
                    font-size      : 30px;
                    background     : #e46060;
                    border-radius  : 50%;
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : white;
                    margin-right   : 20px;

                }

                a .google:hover {
                    color           : #e46060;
                    background-color: white;
                    transition      : 1s;
                }

                .facebook {
                    font-size      : 30px;
                    background     : #425fba;
                    border-radius  : 50%;
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : rgb(255, 255, 255);
                    margin-right   : 20px;
                }

                a .facebook:hover {
                    color           : #425fba;
                    background-color: white;
                    transition      : 1s;
                }

                .twitter {
                    font-size      : 30px;
                    background     : #425fba;
                    border-radius  : 25%;
                    height         : 50px;
                    width          : 50px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : rgb(255, 255, 255);
                }

                a .twitter:hover {
                    color           : #425fba;
                    background-color: white;
                    transition      : 1s;
                }
            }
        }
    }
}